<!DOCTYPE html>
{% extends "base.html" %}
{% load url from future %}

{% block content %}
    <div class="player-image">
    <!--<span class="playernumber hidden-phone">{{ player.firstname }}</span>
    <span class="playername hidden-phone">{{ player.lastname }}</span>-->
    <div id=playerimgbox"><img src="{{ STATIC_URL }}img/team-sports.jpg" width="80%" class="player-image"></div>
    <div class="caption">PHOTOS FROM GOHEELS.COM</div>
    </div>
    
    <p><a href="{% url 'roster_home' %}">List of Teams</a></p>
{% endblock %}