<!DOCTYPE html>

{% extends "base.html" %}
{% load url from future %}

{% block content %}
<html>
<head>
    <title>{{ name }}</title>
</head>

<body>

<div>
    <h1 class="playername imageClip">{{ player.name }}</h1>
    <img src="{{ STATIC_URL }}img/playerpic-{{ player.number }}.jpg" width=100%>
</div>

    <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ player.home_lat }},{{ player.home_long }}&zoom=7&size=400x400&maptype=terrain&markers=color:blue%7Clabel:S%7C{{ player.home_lat }},{{ player.home_long }}sensor=true" class="img-circle">

<div class="tab-content">
  <div class="tab-pane fade in active" id="general">...</div>
  <div class="tab-pane fade" id="junior">...</div>
  <div class="tab-pane fade" id="sophomore">...</div>
  <div class="tab-pane fade" id="freshman">...</div>
  <div class="tab-pane fade" id="highschool">...</div>
  <div class="tab-pane fade" id="personal">...</div>
</div>

</body>    
</html>
{% endblock %}