<!DOCTYPE html>

{% extends "base.html" %}
{% load url from future %}

{% block content %}
<html>
<head>
    <title>{{ name }}</title>
</head>

<body>

<div class="row">
    <div class="span12">
        <img src="http://image.cdnllnwnl.xosnetwork.com/pics33/1024/RL/RLMIOXKDVTLPJEI.20140206200854.jpg" width=100%>
    </div>
</div>

<div>
    <h1>Some guy's name here and here and here and here.</h1>
    <p>Here is a player description.</p>
    <img src="{{ STATIC_URL }}img/dudek.jpg" width=100%>
</div>    

</body>    
</html>
{% endblock %}