<!DOCTYPE html>

{% extends "base.html" %}
{% load url from future %}

{% block content %}
<html>
<head>
    <title>{{ name }}</title>
</head>

<body>

<div class="row">
    <div class="span12">
        <img src="http://image.cdnllnwnl.xosnetwork.com/pics33/1024/RL/RLMIOXKDVTLPJEI.20140206200854.jpg" width=100%>
        {{ name }}
    </div>
</div>

<div>
    <h1>Some guy's name here and here and here and here.</h1>
    <p>Here is a player description.</p>
    <img src="{{ STATIC_URL }}img/playerpic-{{ player.number }}.jpg" width=100%>
</div>

<div>
    <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ player.home_lat }},{{ player.home_long }}&zoom=12&size=400x400&maptype=terrain&sensor=true" class="img-circle">
</div>

</body>    
</html>
{% endblock %}