<!DOCTYPE html>

<html lang=en>
<head>
    <title>{% block title %}Baseball Roster Project{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,200,200italic,300,300italic,400italic,600italic,700,900,700italic' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="viewport tofront">
    <div><img class="hidden-phone" id="nav-icon" src="{{ STATIC_URL }}img/baseroster-icon.gif"></div>
      <div class="frame" id="topbar" data-spy="affix" data-offset-top="500">
        <div class="container">
            <div class="row">
                <ul class="nav nav-pills" id="topbar">
                  <li class="nav-links"><a href="#">Home</a></li>
                  <li class="nav-links"><a href="#">Baseball</a></li>
                  <li class="nav-links"><a href="#">Sports</a></li>
                <li class="nav-name">NO.{{ player.number }}&nbsp&nbsp{{ player.firstname }}&nbsp{{ player.lastname }}</li>
                </ul>
            </div>
        </div>
      </div>
    </div>
   
        {% block content %}
        {% endblock %}

    <div id="twitterfooter" class="footer navbar-fixed-bottom">
        <ul>
            <li class="footerlinks">Here goes some content</li>
            <li class="footerlinks">And more</li>
        </ul>
    </div>
    
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/roster.js"></script>
    
</body>
</html>